rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /plants/{plantId}  {
    	allow create
    	allow read: if request.auth.uid != null
      allow update, delete: if request.auth.uid == resource.data.user 
    }
    match /notes/{noteId}  {
    	allow create
    	allow read: if request.auth.uid != null
      allow update, delete: if request.auth.uid == resource.data.user 
    }
    match /todos/{todoId}  {
    	allow create
    	allow read: if request.auth.uid != null
      allow update, delete: if request.auth.uid == resource.data.user 
    }
  }
}